.login__container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 15px;
    margin-top: 100px;
}

.login__container form {
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login__container form h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}

.login__container form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.login__container form input:focus {
    border-color: var(--primary-color);
}

.login__container form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.login__container form button:hover {
    background-color: var(--dark-color);
}

.login__container form .register {
    text-align: center;
}

.login__container form .register a {
    color: var(--primary-color);
    text-decoration: none;
}

.login__container form .register a:hover {
    text-decoration: underline;
}